.buttons {
    font-family: 'SourceSansPro-Regular', sans;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: transparent;
    padding: 3px;
    box-sizing: border-box;

    cursor: pointer;

    &--active {
        color: #ffffff;
        background-color: #00A11E;
    }

    &--delete--off {
        min-width: 80px;
        opacity: 0;
    }

    &--delete--on {
        min-width: 80px;
        opacity: 1;

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: -15px;
            width: 15px;
            height: 20px;
            background: url('/image/bucket.png') no-repeat center;
        }
    }

    &--modal {
        margin-right: 20px;
        border: 1px solid #C6CBD4;
        border-radius: 4px;
    }

    &__pagination {
        width: 32px;
        height: 32px;
        border: 1px solid #C6CBD4;
        border-radius: 2px;

        &--left {
            background: url('/image/arrow-left.png') no-repeat center;
        }

        &--right {
            background: url('/image/arrow-right.png') no-repeat center;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &__selection {
        border: 1px solid #C6CBD4;
        border-radius: 2px;
        padding: 3px 30px 3px 14px;
        background: url('/image/arrow-down.png') no-repeat 130px;
    }
}
