.select {
    vertical-align: sub;
    color: #5B5E77;
    border: 1px solid #D5DAE0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 7px 29px 8px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/image/arrow-down.png') no-repeat 90px;
    outline: none;
}